.newsgame {
  margin-top: 120px;
  padding: 40px;
  background-color: #061f79;
  color: #fff;
  text-align: center;
}

.newsgame h2:first-child {
  font-size: 48px;
  padding-bottom: 20px;
}

.newsgame p {
  font-size: 32px;
}

.newsgame-view {
  margin-top: 120px;
  display: flex;
}

.newsgame-view img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.view {
  display: flex;
  align-items: center;
  background-color: #2253ff;
  width: 600px;
  border-radius: 6px;
  margin-right: 20px;
  position: relative;
}

.view img {
  position: relative;
}

.view p {
  font-size: 18px;
  text-align: left;
  padding: 10px;
}

.name-game {
  margin-top: 30px;
  gap: 20px;
  font-size: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
