.selection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
}

.selection img {
  z-index: 0px;
  margin: 80px auto;
  cursor: pointer;
  filter: drop-shadow(0px 0px 0px #4444dd);
  transition: filter, 0.6s;
}

.selection-rock::before {
  content: "";
  position: absolute;
  background-image: url("../img/Selection/Selection_Mega_Man_Classico.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vh;
  height: 60vh;
  left: 0;
  z-index: 1px;
  transition: filter, 0.6s;
}

.selection-rock img:hover {
  filter: drop-shadow(10px 10px 0px #4444dd);
}

.selection-x::before {
  content: "";
  position: absolute;
  background-image: url("../img/Selection/Selection_MegaMan_X.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vh;
  z-index: 1px;
  height: 60vh;
}

.selection-x img:hover {
  filter: drop-shadow(25px 10px 0px #4444dd);
  transition: filter, 0.6s;
}

[src="img/Selection/Mega_Man_Selection.png"],
[src="img/Selection/X_Selection.png"] {
  height: 450px;
}
