@import "../../index.scss";

.collections {
  font-family: "Press Start 2P", cursive;
  z-index: 0;
  .banner {
    color: #fff;
    position: relative;
    svg {
      top: 0px;
      position: absolute;
      z-index: 0;
    }
    & h2 {
      margin: 4rem 0;
      background-color: #c21111;
      padding: 2.4rem 8rem;
      border-radius: 5px;
      z-index: 1;
    }
  }
  .collectionMain {
    padding-bottom: 10rem;
    gap: 20px;
    div {
      padding: 2rem;
    }
    & [data-anime^="slide"] {
      animation: Slide 0.4s;
      margin-top: 20px;
    }
  }
  .endCollection {
    position: relative;
    margin-top: 4rem;
    & img {
      position: absolute;
      &:nth-child(1) {
        left: 30%;
        top: 0%;
      }
      &:nth-child(2) {
        left: 38%;
        bottom: 7%;
      }
    }
    & svg {
      padding-bottom: 8rem;
      transform: scale(-1);
    }
  }
}

@keyframes Slide {
  from {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0);
  }
}

@media (max-width: $break-point-large) {
  .collections {
    .banner {
      & h2 {
        font-size: 1.3rem;
        padding: 1.6rem;
        margin: 1.8rem;
      }
    }
    .collectionMain {
      padding-bottom: 4rem;
      & div {
        justify-self: center;
      }
    }
  }
  .endCollection {
    display: none;
  }
}

@media (max-width: $break-point-medium) {
  .collections {
    padding-bottom: 1.5rem;
    .banner {
      h2 {
        margin: 1.2rem;
        font-size: 1rem;
      }
    }
    .collectionMain {
      padding-bottom: 1.4rem;
      & div {
        padding: 0rem;
        padding-bottom: 2.3rem;
      }
    }
  }
}

@media (max-width: $break-point-small) {
  .collections {
    .banner {
      & h2 {
        text-align: center;
        font-size: 0.9rem;
        line-height: 2rem;
      }
    }
  }
}
