.collections {
  margin-top: 60px;
  font-family: "Press Start 2P", cursive;
  .banner {
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    & h2 {
      margin-top: 5rem;
      position: absolute;
      display: flex;
      align-items: center;
      gap: 3.75rem;
      background-color: #00cefc;
      padding: 2.4rem 8rem;
      border-radius: 5px;
      &::before,
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 110px;
        height: 100px;
        background-color: #00596c;
      }
      &::before {
        left: -180px;
      }
      &::after {
        right: -180px;
      }
    }
  }
  .collectionMain {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 14rem;
    & img {
      padding-bottom: 25px;
    }
    & [data-anime^="slide"] {
      animation: Slide 0.4s;
    }
  }
  .chatBox {
    color: #fff;
    background-color: #020b10;
    border: 20px solid #241ffc;
    font-size: 40px;
    line-height: 4rem;
    padding: 60px;
    margin-bottom: 8rem;
  }
  .endCollection {
    position: relative;
    & img {
      position: absolute;
      &:nth-child(1) {
        left: 600px;
      }
      &:nth-child(2) {
        left: 750px;
        bottom: 40px;
      }
    }
    & svg {
      transform: scale(-1);
    }
  }
}

@keyframes Slide {
  from {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0);
  }
}
