.newGame {
  background-color: #0099ff;
  padding: 6rem 0;
  display: flex;
  justify-content: center;
  & [data-anime^="slide"] {
    animation: Slide 0.4s;
  }
  & div {
    display: flex;
    flex-direction: row-reverse;
    border: none;
    & img {
      border: 5px #fff solid;
    }
    & ul {
      flex-direction: column;
      background-color: #d7efff;
      margin-right: 4px;
      &::after,
      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 6px;
        height: 20px;
        background-color: #000;
        right: -5px;
      }
      &::before {
        top: 29rem;
        left: 6.8rem;
      }
      &::after {
        top: 5rem;
      }
      & svg {
        width: 70px;
        height: 70px;
      }
    }
  }
}

@keyframes Slide {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
