.information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  color: #fff;
  & .chatBox {
    font-family: "Press Start 2P", cursive;
    background: #111111;
    padding: 5rem 1rem;
    border-radius: 1.4rem;
    font-size: 2rem;
    line-height: 2.8rem;
    border: inset 8px #ffd1fd;
    border-style: solid;
    text-align: center;
  }

  & .square {
    display: flex;
    justify-self: center;
    margin: 20rem 0;
    & img {
      position: relative;
      padding: 2.5rem;
      border-radius: 2.5rem;
      box-sizing: border-box;
      cursor: pointer;
      transition: transform 0.5s;
    }
    & img:first-child {
      background-color: #1753eb;
      z-index: 1;
    }
    & img:last-child {
      background-color: red;
      transform: translate(-280px, 30px);
      filter: blur(4px);
      order: 2;
    }
    &:global(.active) img:first-child {
      background-color: #1753eb;
      z-index: 0;
      transform: translate(-280px, 30px);
      filter: blur(4px);
      order: 2;
    }
    &:global(.active) img:last-child {
      background-color: red;
      transform: translate(0px, 0px);
      filter: blur(0);
      z-index: 1;
      order: 1;
    }
  }
}
