@import "../../index.scss";

.bg {
  background: url("../../assets/home_background.png") no-repeat;
  background-size: 100% 100%;
  padding: 20rem 0;
  .information {
    & .square {
      display: flex;
      justify-self: center;
      & img {
        position: relative;
        padding: 2.5rem;
        border-radius: 2.5rem;
        box-sizing: border-box;
        cursor: pointer;
        transition: transform 0.5s;
      }
      & img:first-child {
        background-color: #1753eb;
        z-index: 1;
      }
      & img:last-child {
        background-color: red;
        transform: translate(-280px, 30px);
        filter: blur(4px);
        order: 2;
      }
      &:global(.active) img:first-child {
        background-color: #1753eb;
        z-index: 0;
        transform: translate(-280px, 30px);
        filter: blur(4px);
        order: 2;
      }
      &:global(.active) img:last-child {
        background-color: red;
        transform: translate(0px, 0px);
        filter: blur(0);
        z-index: 1;
        order: 1;
      }
    }
  }
}

@media (max-width: $break-point-large) {
  .bg {
    padding: 10rem 0;
  }
  .information {
    gap: 5rem;
  }
}

@media (max-width: $break-point-medium) {
  .bg {
    background: linear-gradient(0deg, #0affec 50%, rgba(0, 164, 255, 1) 50%);
    padding: 4rem 0.1rem;
    .information {
      .square {
        max-width: 250px;
        max-height: 400px;
      }
    }
  }
}
