@import "../../index.scss";
.chatBox {
  margin: 0 20px;
  font-family: "Press Start 2P", cursive;
  color: #fff;
  background: #202020;
  padding: 5rem 1rem;
  border-radius: 1.4rem;
  font-size: 2rem;
  line-height: 2.8rem;
  border: inset 8px #000000;
  border-style: solid;
  text-align: center;
}

@media (max-width: $break-point-large) {
  .chatBox {
    font-size: 1.8rem;
  }
}

@media (max-width: $break-point-medium) {
  .chatBox {
    padding: 1rem;
    font-size: 1.2rem;
  }
}

@media (max-width: $break-point-small) {
  .chatBox {
    font-size: 0.6rem;
  }
}
