.header {
  font-family: "Press Start 2P", cursive;
  padding-bottom: 9.4rem;
  font-size: 1.4rem;
  & ul {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    z-index: 999;
    width: 900px;
    background: linear-gradient(120deg, #00b2ff 60%, #ff9900 60%);
    clip-path: polygon(0 0, 100% 0%, 91% 100%, 0% 100%);
    backdrop-filter: blur(8px);
    filter: opacity(0.9);
    & li {
      cursor: pointer;
    }
    & li::after {
      content: "";
      display: block;
      width: 0%;
      height: 4px;
      margin-top: 0.6rem;
      background-color: #000;
      transition: 0.6s;
    }
    & li:hover::after {
      content: "";
      width: 100%;
    }
    & li:last-child {
      color: #fff;
      font-weight: bold;
    }
  }
}
